<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="position-relative" style="background-image: url('assets/au.jpg'); background-size: cover;">
                <img src="assets/au.jpg" class="w-100" height="1000" alt="First slide">
                <div class="text-white position-absolute position-absolute top-0 start-0 mt-5 ms-5 rounded-pill ">
                    <div class="container  ">
                        <div class="row marign ">
                            <div class="col-sm-12 mx-auto">
                                <h1>About Us</h1>
                                <br>
                                <h6>
                                    Welcome to Softy Nuts,</h6>we believe that good health begins with wholesome and natural foods. Nestled in the heart of Trichy, 
                                    we are proud to be your go-to destination for the finest and freshest nuts, seeds, and dried fruits. <br>
                                    Established in 2021, Softy Nuts was born out of a passion for providing our community with access to premium quality, nutritious snacks.                                 <h6>What Sets Us Apart:</h6>
                                <ul>
                                  <li>Quality Assurance: We pride ourselves on sourcing the best quality nuts, meeting strict standards for freshness and taste.</li>
                                  <li>Customer Satisfaction: Your contentment is our priority.</li>
                          </ul>
                          <h5>
                            Our Commitment:</h5>
                            Your satisfaction is our top priority. We are dedicated to providing excellent customer service and a delightful shopping experience.<br>
                             If you ever have questions or need assistance, our friendly team is here to help.
                            <br><br>
                            Thank you for choosing Softy Nuts as your trusted source for premium nuts and dried fruits.<br>
                            We look forward to being a part of your journey to a healthier, happier you.                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>