

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/cashew.jpg" class="bd-placeholder-img card-img-top"
                    alt="cashew img">
                <div class="card-body">
                    <h5 class="card-title">Cashew</h5>
                    <p class="card-text">Price: $995/per Kgs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal1">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/by.jpeg" class="bd-placeholder-img card-img-top"
                    alt="raisins ">
                <div class="card-body">
                    <h5 class="card-title">Black & Yellow Raisins</h5>
                    <p class="card-text">Price: $470/per Kgs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal2">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/bg.jpg" class="bd-placeholder-img card-img-top"
                    alt="mixed">
                <div class="card-body">
                    <h5 class="card-title">Mixed-Nuts</h5>
                    <p class="card-text">Price: $1010/per Kgs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/figf.jpeg" class="bd-placeholder-img card-img-top"
                    alt="mixed">
                <div class="card-body">
                    <h5 class="card-title">Fig Fruit</h5>
                    <p class="card-text">Price: $1100/per Kgs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/laddu.jpeg" class="bd-placeholder-img card-img-top"
                    alt="mixed">
                <div class="card-body">
                    <h5 class="card-title">Nuts-Laddu</h5>
                    <p class="card-text">Price: $900/per Kgs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/dryfruit.jpeg" class="bd-placeholder-img card-img-top"
                    alt="mixed">
                <div class="card-body">
                    <h5 class="card-title">Dry-Fruits</h5>
                    <p class="card-text">Price: $1200/per Kgs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add similar card structures for other nuts -->
    </div>
</div>