<div class="container">
    <h2>Order for Signin</h2>
    <br>
    <br>


    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
         
        <p>
            <label for="firstname">Name</label>
            <input type="text" #firstname="ngModel" name="firstname" #firstName="ngModel" [(ngModel)]="contact.firstName" required minlength="10">
          
            <span *ngIf="!firstname.valid && (firstname.touched || firstname.dirty)">
              <span class="text-danger" *ngIf="firstname.errors?.['required']">First name is required</span>
            </span>
          </p>
          
            
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="contact.email" required>
            <span *ngIf="!email.valid && (email.touched || email.dirty)">
            <span class="text-danger" *ngIf="email.errors?.['required']">E-mail is required</span>
            </span>
        </p>
    
        
    <div ngModelGroup="Address">
    <p>    
    <label for="city">City:</label>
    <input type="text" id="city" name="city" #city="ngModel" [(ngModel)]="contact.Address.city" required>
    <span *ngIf="!city.valid && (city.touched || city.dirty)">
        <span class="text-danger" *ngIf="city.errors?.['required']">city is required</span>
</span>
    </p>

    <p>
    <label for="street">Street:</label>
    <input type="text" id="street" name="street"  #street="ngModel" [(ngModel)]="contact.Address.street" required>
    <span *ngIf="!street.valid && (street.touched || street.dirty)">
     <span class="text-danger" *ngIf="street.errors?.['required']">Street is required</span>
</span>
    </p>

    <p>
    <label for="pincode">Pincode:</label>
    <input type="text" id="pincode" name="pincode" #pincode="ngModel" [(ngModel)]="contact.Address.pincode" required>
    <span *ngIf="!pincode.valid && (pincode.touched || pincode.dirty)">
        <span class="text-danger" *ngIf="street.errors?.['required']">Pincode is required</span>
   </span>
    </p>
    </div>
    
    <p>
    <button [disabled]="contactForm.invalid" type="submit" routerLink="/order">Submit</button>
        <!-- <button [disabled]="contactForm.invalid" type="submit">Submit</button> -->

</p>
    </form>
 </div>
 
