<div class="container col-sm-2">
    <h2>Contact Us</h2>
</div>

<div class="position-relative">
    <img src="assets/dry.png">
    <ul>
        <li> <img src="assets/calls.png" width="60px" height="60px" class="rounded-circle">Phone number:7548831088</li>
        <li> <img src="assets/whatsapp.png" width="60px" height="60px" class="rounded-circle">For Order:9944175688 </li>
        <li><img src="assets/lo.jpeg" width="60px" height="60px" class="rounded-circle">Address:11th Cross E Rd,
            Trichy-620018 </li>
            <!-- <li><img src="assets/lo.jpeg" width="60px" height="60px" class=" link-opacity-100 rounded-circle">Location:<a href="https://www.google.com/maps/search/softy+nuts+shop+in+trichy/@11.0008838,78.5001265,11z?entry=ttu"></a></li> -->
            <!-- <li><a class="link-opacity-100" href="">Location</a></li> -->
        </ul>
