    <!-- <div class="container col-sm-2">
   
     </div><br>  -->
     <div class="position-relative p-3" style="background-image: url('assets/nut.jpg'); background-size: 100%; height: 1000px;">

   <div class="container mx-auto">
       <h4>Nuts</h4>
   
       <table class="table table-hover" style="border: 1px solid #000; width: 50%;height: 20%;">        <thead>
         <tr>
           <th scope="col">Product</th>
           <th scope="col">weight</th>
           <th scope="col">Price</th>
   
         </tr>
       </thead>
       <tbody>
         <tr class="table-info">
           <td>Black & Yellow Raisins</td>
           <td>1 Kgs</td>
           <td>360</td>
         </tr>
         <tr class="table-warning">
           <td>Almond</td>
           <td>1 Kgs</td>
           <td>700</td>
         </tr>
         <tr class="table-success">
           <td>Cashew</td>
           <td>1 Kgs</td>
           <td>900</td>
           </tr>
           <tr class="table-dancer">
             <td>Mixed-Nuts</td>
             <td>1 kgs</td>
             <td>1100</td>
             </tr>
             <tr class="table-warning">
               <td>Dates</td>
               <td>1 Kgs</td>
               <td>700</td>
             </tr>
             <tr class="table-warning">
               <td>Choco Nuts</td>
               <td>1 Kgs</td>
               <td>1400</td>
             </tr>
       </tbody>
       </table>
   </div>
   <br>
   <br>
   <div class="container col-sm-2">
       
     </div>
   <div class="container">
       <h5>Juice</h5>
       <table class="table table-hover" style="border: 1px solid #000; width: 50%;height: 20%;">
           <thead>
             <tr>
               <th scope="col">Product</th>
               <th scope="col">Price</th>
       
             </tr>
           </thead>
           <tbody>
             <tr class="table-info">
               <td>Rose Milk</td>
               <td>60</td>
             </tr>
             <tr class="table-warning">
               <td>Apple Juice</td>
               <td>80</td>
             </tr>
             <tr class="table-success">
               <td>Orange Juice</td>
               <td>60</td>
               </tr>
               <tr class="table-dancer">
                 <td>falooda-Nuts</td>
                 <td>180</td>
                 </tr>
                 <tr class="table-warning">
                   <td>falooda-Fruit</td>
                   <td>160</td>
                 </tr>
                 <tr class="table-warning">
                   <td>Almond-Milk</td>
                   <td>60</td>
                 </tr>
           </tbody>
           </table>
     
       </div>
   </div>