<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-relative">
          <img src="assets/gift.jpg" class="w-100" height="700" alt="First slide">
          <div class=" text-Black position-absolute position-absolute top-0 start-0 mt-5 ms-5 rounded-pill ">
            <div class="container  ">
              <div class="row marign ">
                <div class="col-sm-12 mx-auto">
                  <h3>Assured Quality</h3>
                  <br>
                  <h1>Dry Fruits & Nuts </h1>
                  <br>
                  <button type="button" class="btn btn-success rounded-pill" routerLink="/login">Shop Now</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <br> 
  <div class="">
    <div class="container col-sm-2">
  <h4>Organic Nuts</h4>
  <h1>New Arrivals</h1>
  </div>
  </div>
  
  <div class="container p-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="position-relative">
      <img src="assets/cashew.jpg" class="img-fluid d-block w-100 h-100 border border-black " alt="cashew pic">
      <p class="btn btn-success position-absolute start-0 top-0 ms-2 mt-2 rounded-pill">New</p>
      <h5 class="mt-2 ms-5"><i></i>cashew</h5>
  </div>
  </div>
    <div class="col-sm-4">
      <div class="position-relative">
      <img src="assets/dates.jpeg" class="img-fluid d-block w-100 h-100 border border-black" alt="cashew pic">
      <p class="btn btn-success position-absolute start-0 top-0 ms-2 mt-2 rounded-pill">New</p>
      <h5 class="mt-2 ms-5"><i></i>Dates</h5>
  
    </div>
  </div>
  
    <div class="col-sm-4">
      <div class="position-relative">
      <img src="assets/raisins.jpeg" class="img-fluid d-block w-100 h-100 border border-black" alt="wine pic">
      <p class="btn btn-success position-absolute start-0 top-0 ms-2 mt-2 rounded-pill">New</p>
      <h5 class="mt-2 ms-5"><i></i>Black Raisins</h5>
  
    </div>
    </div>
  </div>
  </div>
  
  <div class="container p-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="position-relative">
        <img src="assets/bg.jpg" class="img-fluid d-block w-100 h-100 border border-black " alt="cashew pic">
        <p class="btn btn-success position-absolute start-0 top-0 ms-2 mt-2 rounded-pill">New</p>
        <h5 class="mt-2 ms-5"><i></i>Mixed-Nuts</h5>
  
    </div>
    </div>
      <div class="col-sm-4">
        <div class="position-relative">
        <img src="assets/choco.jpeg" class="img-fluid d-block w-100 h-100 border border-black" alt="cashew pic">
        <p class="btn btn-success position-absolute start-0 top-0 ms-2 mt-2 rounded-pill">New</p>
        <h5 class="mt-2 ms-5"><i></i>Choco Nuts</h5>
  
      </div>
    </div>
    
      <div class="col-sm-4">
        <div class="position-relative">
        <img src="assets/almonds.jpeg" class="img-fluid d-block w-100 h-100 border border-black" alt="wine pic">
        <p class="btn btn-success position-absolute start-0 top-0 ms-2 mt-2 rounded-pill">New</p>
        <h5 class="mt-2 ms-5"><i></i>Almonds</h5>
  
      </div>
      </div>
    </div>
    </div>
  
     
  